<tr>
  <td><%= book.name %></td>
  <td><%= book.author.name unless book.author.blank?%></td>
  <td><%= book.genre.name unless book.genre.blank? %></td>
  <td style="text-align: center"><%= book.quantity unless book.quantity.blank? %></td>
  <td style="text-align: center"><%= book.checkout_ct unless book.checkout_ct.blank? %></td>
  <td><%= link_to 'Show', book %></td>
  <td><%= link_to 'Edit', edit_book_path(book) %></td>
  <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>